* {
    box-sizing: border-box;
}

html {
    font-family: Verdana;
    color: #555;
    font-size: 16px;
}

header {
    display: flex;
}

.header {
    color: white;
    margin: auto;
    background: linear-gradient(60deg, red, orange);
    padding: 1.25em;
    /* вн.отступов в задании не просят, додумалась сама по картинке с примером самого задания */
}

h1 {
    font-size: 2.25em;
    margin: auto;
    align-items: center;
}

footer {
    display: flex;
    padding: 0.5em;
    background-color: #e5e5e5;
    /* flex: 0 0 auto; */
    flex-direction: column;
}

footer>span {
    margin: auto;
}

.navigation {
    padding: 0.5em;
    width: 20%;
}

.section {
    padding: 0.5em;
    width: 60%;
    font-size: 1.25em;
}

.news {
    padding: 0.5em;
    width: 20%;
}

.nav-list-item {
    color: white;
    background-color: #808080;
    padding: 0.5em;
    margin-bottom: 0.5em;
    height: 2em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.units-list {
    line-height: 1.75em;
}

.nav-list {
    padding: 0;
}

.css-units {
    color: #8b0000;
    background-color: #e5e5e5;
    font-weight: 700;
    font-size: 1.125em;
    padding: 0;
}

.nav-list-link {
    color: white;
    text-decoration: none;
    padding: 0, 0.5em;
}

.section__header {
    padding: 0;
    text-align: center;
    font-size: 5vw;
    white-space: nowrap;
}

.main {
    display: flex;
}