body {
    font-family: Verdana;
}

header {
    margin: 0 auto;
    font-size: 74px;
    max-width: 50vw;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}

div {
    height: 200px;
    background-color: coral;
    color: white;
    text-transform: uppercase;
    text-align: center;
    line-height: 200px;
}