ul>li:first-child span {
    color: white;
    background-color: red;
}

ul>li:last-of-type span {
    color: white;
    background-color: black;
}

ul>li {
    margin-bottom: 16px;
}

li:nth-child(even) {
    padding-left: 16px;
}

.paragraphs>p:nth-child(1) {
    background-color: grey;
}

.paragraphs>p:nth-child(4) {
    background-color: grey;
}