div {
    border: 2px solid black;
}

.blue {
    margin: 50px;
    padding: 50px;
    background-color: blue;
}

.green {
    padding: 50px;
    background-color: green;
}

.yellow {
    padding: 50px;
    background-color: yellow;
}

.pink {
    padding: 50px;
    background-color: pink;
}