[alt="Pollution"] {
    border: 5px dashed red;
}

img[src$=".jpg"] {
    margin-left: 50px;
}

li[data-description~="even"] {
    background-color: grey;
}

span[lang*="en"],
span[lang*="en-us"],
span[lang*="en-gb"] {
    font-size: 28px;
}

a[href^="https://"] {
    color: green;
}

li[data-description*="even"] {
    font-size: 24px;
}