.header {
    display: flex;
    width: 320px;
    height: 64px;
}

.logo__name {
    width: 111px;
    height: 25px;
    font-weight: 700;
    line-height: 25px;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 13px;
    margin-bottom: 19px;
}

.logo__image {
    width: 48px;
    height: 48px;
    margin-left: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.logo {
    display: flex;
    justify-content: center;
}

.header__line {
    display: flex;
    position: absolute;
    width: 1px;
    height: 64px;
    opacity: 0.15;
    background: #000000;
}

.burger {
    margin-left: 95px;
    margin-right: 20px;
    margin-top: 26px;
    margin-bottom: 25px;
}