* {
    box-sizing: border-box;
}

span {
    font-family: Verdana;
    margin: auto;
    padding: 8px;
    border-radius: 4px;
    background-color: #faebd7;
    text-transform: lowercase;
}

.news {
    background-color: #0ff;
}

.navigation,
.products-list,
.news {
    height: 200px;
    display: flex;
    flex-grow: 1;
}

.container {
    display: flex;
    flex-direction: column;
}

.products {
    display: flex;
    flex-direction: column;
}

.navigation {
    background-color: #ff7f50;
    height: 200px;
}

.products-list {
    background-color: #006400;
    height: 200px;
}

@media screen and (min-width: 600px) and (max-width: 899px) {
    .container {
        display: flex;
        flex-wrap: wrap;
    }
    .block {
        min-width: 50%;
    }
}

@media screen and (min-width:900px) {
    .container {
        display: flex;
        flex-direction: row;
    }
    .block {
        flex-basis: 0;
    }
}