* {
    box-sizing: border-box;
}

body {
    font-family: "Verdana";
}

span {
    padding: 8px;
    background-color: #faebd7;
    border-radius: 4px;
    text-transform: lowercase;
    margin: auto;
}

.navigation {
    height: 200px;
    display: flex;
    flex-grow: 1;
    background-color: #ff7f50;
}

.products-list {
    height: 200px;
    display: flex;
    flex-grow: 1;
    background-color: #006400;
}

.news {
    height: 200px;
    display: flex;
    flex-grow: 1;
    background-color: #0ff;
}

div {
    height: 200px;
    display: flex;
    flex-grow: 1;
}

@media screen and (min-width: 600px) and (max-width: 899px) {
    .container {
        display: flex;
        flex-wrap: wrap;
    }
    div {
        min-width: 50%;
    }
}

@media screen and (min-width:900px) {
    .container {
        display: flex;
        flex-direction: row;
    }
    div {
        flex-basis: 0;
    }
}